@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Add a Role";
}

<h2>Add a new Role to application</h2>

@using (Html.BeginForm())
{
    <p> Enter User Role Name:</p>

    @Html.EditorFor(m => m.Name)
    <input type="submit" value="Create Role" class="btn btn-default" />
}
<br/>
<br />
<br />
<br />
<br />
<br />
@Html.ActionLink("Go back",controllerName:"Role",actionName:"Index", routeValues: null,htmlAttributes:new { @class= "btn btn-info" })
