
@{
    ViewBag.Title = "Index";
}

@if (ViewBag.displayMenu == "Yes")
{
    <h1>Welcome Admin. Now you can create user Role.</h1>   
    
    <h3>
        <li>@Html.ActionLink("Manage Role", "Index", "Role")</li>
    </h3>   
}
else
{
    <h2>  Welcome <strong>@ViewBag.Name</strong> Please Proceed </h2>   
}  

<br/>
<br />
@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Doctors"))
    {
        @Html.ActionLink("Please Proceed", actionName: "Index", controllerName: "Doctors", routeValues: null, htmlAttributes: new { @class = "btn btn-block btn-info btn-lg" })
    }
    else if (User.IsInRole("Patients"))
    {
        @Html.ActionLink("Please Proceed", actionName: "Index", controllerName: "Patients", routeValues: null, htmlAttributes: new { @class = "btn btn-block btn-warning btn-lg" })
    }

}