@model IEnumerable<getadoc.Models.Patients>

@{
    ViewBag.Title = "viewPatients";
}

<h2>All Patients</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.Label()
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @*Html.ActionLink("Edit", "Edit", new { id=item.id }) *@|
            @Html.ActionLink("Details", "Details", new { id=item.id }, new { @class = "btn btn-info"}) |
            @*Html.ActionLink("Delete", "Delete", new { id = item.id })*@
        </td>
    </tr>
}

</table>
